/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #E0EAF6 !important;
    margin: 0;
    padding: 0;
}

.centered-content {
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    background-color: #E0EAF6;
}

.navbar-horizontal {
    background-color: #f8f9fa;
    padding: 10px 20px;
    top: 0;
    left: 255px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 100%;
    overflow: hidden;
    flex-grow: 1;
}

.small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.filter-search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 15px;
}

.filter-button {
    width: 90px;
    height: 30px;
    color: black;
    border: 1px solid light black;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
    background-color: #1E2A38;
    transform: scale(1.05);
    color: white;
}

.filter-container {
    margin: 15px;
}

.filter-toggle-btn {
    background-color: #1E2A38;
    color: white;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
}

.filter-form {
    display: none;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.808);
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 20px; 
    width: 80%;
}

.form-group {
    margin-bottom: 12px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    grid-column: span 3;
    margin-top: 18px;
}

.form-actions button {
    padding: 8px 12px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-actions button[type="submit"] {
    background-color: #28a745;
    color: white;
}

.form-actions button[type="button"] {
    background-color: #dc3545;
    color: white;
}

.form-actions button[type="submit"]:hover {
    background-color: #218838;
    color: white;
}

.form-actions button[type="button"]:hover {
    background-color: #c82333;
    color: white;
}

.inside-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inside-filter-container label {
    margin: 5px;
    font-weight: normal;
}

.inside-filter-container select {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eff3f7;
}

.state-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.state-filter-container label {
    margin: 5px;
    font-weight: normal;
}

#state-filter {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eff3f7;
}

.zone-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.zone-filter-container label {
    margin: 5px;
    font-weight: normal;
}

#zone-filter {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eff3f7;
}

.filter-bar {
    display: flex;
    align-items: center;
}

.filter-select {
    width: 140px;
    margin-left: 15px;
}

.graphBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    gap: 30px;
}

@media (max-width: 1400px) and (min-width: 1200px){
    .navbar-horizontal {
        padding: 8px 16px;
        gap: 0.8rem;
    }

    .small-nav {
        gap: 3px;
    }

    .filter-search-container {
        margin-top: 30px;
        margin-left: 10px;
        flex-wrap: wrap;
    }

    .filter-button {
        width: 80px;
        height: 28px;
        font-size: 0.9rem;
    }

    .filter-container {
        margin: 10px;
    }

    .filter-toggle-btn {
        padding: 6px 16px;
    }

    .filter-form {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        width: 90%;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group select {
        padding: 6px;
    }

    .form-actions {
        grid-column: span 3; 
        margin-top: 15px;
    }

    .form-actions button {
        padding: 6px 10px;
        font-size: 0.9rem;
    }

    .inside-filter-container,
    .state-filter-container,
    .zone-filter-container {
        gap: 4px;
    }

    .inside-filter-container select,
    #state-filter,
    #zone-filter {
        padding: 4px;
        font-size: 0.9rem;
    }

    .filter-bar {
        flex-direction: column;
        gap: 10px;
    }

    .filter-select {
        width: 120px;
        margin-left: 10px;
    }

    .graphBox {
        gap: 20px;
        margin-top: 60px;
    }
}

@media (max-width: 1200px) and (min-width: 1020px) {
    .navbar-horizontal {
        padding: 6px 12px;
        gap: 0.6rem;
    }

    .small-nav {
        gap: 2px;
    }

    .filter-search-container {
        margin-top: 25px;
        margin-left: 8px;
        flex-wrap: wrap;
    }

    .filter-button {
        width: 75px;
        height: 26px;
        font-size: 0.85rem;
    }

    .filter-container {
        margin: 8px;
    }

    .filter-toggle-btn {
        padding: 5px 14px;
    }

    .filter-form {
        grid-template-columns: 3fr 3fr;
        grid-gap: 12px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .form-group label {
        font-size: 0.85rem;
    }

    .form-group input,
    .form-group select {
        padding: 5px;
        font-size: 0.85rem;
    }

    .form-actions {
        grid-column: span 3;
        margin-top: 12px;
    }

    .form-actions button {
        padding: 5px 8px;
        font-size: 0.85rem;
    }

    .inside-filter-container,
    .state-filter-container,
    .zone-filter-container {
        gap: 3px;
    }

    .inside-filter-container select,
    #state-filter,
    #zone-filter {
        padding: 3px;
        font-size: 0.85rem;
    }

    .filter-bar {
        flex-direction: column;
        gap: 8px;
    }

    .filter-select {
        width: 110px;
        margin-left: 8px;
    }

    .graphBox {
        gap: 15px;
        margin-top: 50px;
    }
}

@media (max-width: 1020px) and (min-width: 800px) {
    .navbar-horizontal {
        padding: 4px 10px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .small-nav {
        gap: 2px;
        font-size: 0.8rem;
    }

    .filter-search-container {
        margin-top: 20px;
        margin-left: 5px;
        flex-wrap: wrap;
    }

    .filter-button {
        width: 70px;
        height: 24px;
        font-size: 0.8rem;
    }

    .filter-container {
        margin: 6px;
    }

    .filter-toggle-btn {
        padding: 4px 12px;
        font-size: 0.8rem;
    }

    .filter-form {
        grid-template-columns: 3fr;
        grid-gap: 10px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 6px;
    }

    .form-group label {
        font-size: 0.8rem;
    }

    .form-group input,
    .form-group select {
        padding: 4px;
        font-size: 0.8rem;
    }

    .form-actions {
        grid-column: span 3;
        margin-top: 10px;
    }

    .form-actions button {
        padding: 4px 6px;
        font-size: 0.8rem;
    }

    .inside-filter-container,
    .state-filter-container,
    .zone-filter-container {
        gap: 3px;
        flex-direction: row; 
        align-items: flex-start;
    }

    .inside-filter-container select,
    #state-filter,
    #zone-filter {
        padding: 3px;
        font-size: 0.8rem;
    }

    .filter-bar {
        flex-direction: column;
        gap: 6px;
    }

    .filter-select {
        width: 100%;
        margin-left: 0;
    }

    .graphBox {
        gap: 10px;
        margin-top: 40px;
    }
}

@media (max-width: 800px) and (min-width: 600px) {
    .navbar-horizontal {
        padding: 3px 8px;
        gap: 0.4rem;
        flex-wrap: wrap;
    }

    .small-nav {
        gap: 1.5px;
        font-size: 0.75rem;
    }

    .filter-search-container {
        margin-top: 15px;
        margin-left: 5px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter-button {
        width: 60px;
        height: 22px;
        font-size: 0.75rem;
    }

    .filter-container {
        margin: 4px;
    }

    .filter-toggle-btn {
        padding: 3px 10px;
        font-size: 0.75rem;
    }

    .filter-form {
        grid-template-columns: 3fr; 
        grid-gap: 8px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 5px;
    }

    .form-group label {
        font-size: 0.75rem;
    }

    .form-group input,
    .form-group select {
        padding: 3px;
        font-size: 0.75rem;
    }

    .form-actions {
        grid-column: span 3;
        margin-top: 8px;
    }

    .form-actions button {
        padding: 3px 5px;
        font-size: 0.75rem;
    }

    .inside-filter-container,
    .state-filter-container,
    .zone-filter-container {
        gap: 2px;
        flex-direction: row;
        align-items: flex-start;
    }

    .inside-filter-container select,
    #state-filter,
    #zone-filter {
        padding: 2px;
        font-size: 0.75rem;
    }

    .filter-bar {
        flex-direction: column;
        gap: 5px;
    }

    .filter-select {
        width: 100%;
        margin-left: 0;
    }

    .graphBox {
        gap: 8px;
        margin-top: 30px;
    }
}

@media (max-width: 600px) and (min-width: 200px) {
    .navbar-horizontal {
        padding: 2px 6px;
        gap: 0.3rem;
        flex-wrap: wrap;
    }

    .small-nav {
        gap: 0.8rem;
        font-size: 0.7rem;
    }

    .filter-search-container {
        margin-top: 10px;
        margin-left: 2px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filter-button {
        width: 50px;
        height: 20px;
        font-size: 0.7rem;
    }

    .filter-container {
        margin: 3px;
    }

    .filter-toggle-btn {
        padding: 2px 8px;
        font-size: 0.7rem;
    }

    .filter-form {
        grid-template-columns: 3fr; 
        grid-gap: 6px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 4px;
    }

    .form-group label {
        font-size: 0.7rem;
    }

    .form-group input,
    .form-group select {
        padding: 2px;
        font-size: 0.7rem;
    }

    .form-actions {
        grid-column: span 3;
        margin-top: 6px;
    }

    .form-actions button {
        padding: 2px 4px;
        font-size: 0.7rem;
    }

    .inside-filter-container,
    .state-filter-container,
    .zone-filter-container {
        gap: 1px;
        flex-direction: row;
        align-items: flex-start;
    }

    .inside-filter-container select,
    #state-filter,
    #zone-filter {
        padding: 2px;
        font-size: 0.7rem;
    }

    .filter-bar {
        flex-direction: column;
        gap: 4px;
    }

    .filter-select {
        width: 100%;
        margin-left: 0;
    }

    .graphBox {
        gap: 6px;
        margin-top: 20px;
    }
}

@media (max-width: 200px) {
    body {
        font-size: 0.6rem; /* Reduce font size */
        padding: 0;
        margin: 0;
    }

    .navbar-horizontal {
        padding: 1px 3px;
        gap: 0.2rem;
        font-size: 0.6rem;
        flex-direction: column;
    }

    .small-nav {
        gap: 0.5rem;
        font-size: 0.6rem;
    }

    .filter-search-container {
        margin-top: 5px;
        margin-left: 1px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter-button {
        width: 40px;
        height: 15px;
        font-size: 0.5rem;
    }

    .filter-container {
        margin: 2px;
    }

    .filter-toggle-btn {
        padding: 1px 5px;
        font-size: 0.5rem;
    }

    .filter-form {
        grid-template-columns: 3fr;
        grid-gap: 4px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 3px;
    }

    .form-group label {
        font-size: 0.5rem;
    }

    .form-group input,
    .form-group select {
        padding: 1px;
        font-size: 0.5rem;
    }

    .form-actions {
        grid-column: span 3;
        margin-top: 4px;
    }

    .form-actions button {
        padding: 1px 3px;
        font-size: 0.5rem;
    }

    .inside-filter-container,
    .state-filter-container,
    .zone-filter-container {
        gap: 1px;
        flex-direction: column;
        align-items: center;
    }

    .inside-filter-container select,
    #state-filter,
    #zone-filter {
        padding: 1px;
        font-size: 0.5rem;
    }

    .filter-bar {
        flex-direction: row;
        gap: 2px;
    }

    .filter-select {
        width: 100%;
        margin-left: 0;
    }

    .graphBox {
        gap: 3px;
        margin-top: 10px;
    }
}
