body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.center-content {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-horizontal {
    background-color: #eff3f7 !important;
    width: calc(100% - 250px);
    background-color: #f8f9fa;
    padding: 10px 20px;
    /* border-radius: 20px 20px 20px 20px; */
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    
}

.small-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.inside-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inside-filter-container label {
    margin: 5px;
    font-weight: normal;
}

.inside-filter-container select {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* State Filter Container */
.state-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.state-filter-container label {
    margin: 5px;
    font-weight: normal;
}

#state-filter {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Zone Filter Container */
.zone-filter-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.zone-filter-container label {
    margin: 5px;
    font-weight: normal;
}

#zone-filter {
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


/* Filter dropdown styling */
.filter-bar {
    display: flex;
    align-items: center;
}

.filter-select {
    width: 150px;
    margin-left: 1100p
}



button {
    padding: 10px 20px; 
    color: black; 
    border: 1px solid black; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    border-color: white;
    color: white;
    background-color: black;
}


/* .buttons {background-color: #e7e7e7; color: black;} */

.graphBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 900px; */
    margin-top: 20px;
    z-index: -1;
}

/* .graph {
    padding: 20px;
    box-sizing: border-box;
    overflow: visible;
    margin: 1rem;
   
} */



