* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Heading */
.heading {
    margin-top: 50px;
    background: linear-gradient(to right, #2C3E50, #5e87b0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 45px;
}

.title_animation {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    animation: pulse 15s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Filter dropdown styling */
.filter-dash {
    display: flex;
    align-items: center;
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.filter-dashb {
    width: 150px !important;
    margin-left: 20px;
}

.filter-dash h5 {
    margin-left: 10px;
    font-weight: normal; 
    margin-right: 2px !important;
}

/* Content Section */
.content {
    width: 100%;
    position: relative;
    overflow-y: auto !important; 
    overflow-x: hidden;
    max-height: 95vh; 
    padding-right: 10px; 
}

/* Welcome message */
.welcome {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

/* Flexbox container for cards and graphs */
.flex-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center the items */
    
}

/* Card Styles */
.card {
    margin: 10px;
    padding: 0px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(81, 113, 145, 0.5);
    background-color: #007d7e;
    overflow: hidden;
    flex: 1 1 calc(25% - 20px); /* Adjust card width as needed */
}

.card-body {
    padding: 10px;
    text-align: center;
    background: #1E2A38;
    width: 100%;
}

.card-text,
.card-title {
    color: white;
}


.card-graph-container {
    margin-left: 5px !important;
    display: flex;
    flex-direction: column; 
    align-items: stretch; 
    width: calc(25% - 20px); 
    margin: 10px; 
    z-index: -1000 ;
}

/* Graph Styles */
.graph {
    padding: 20px;
    color: white;
    box-sizing: border-box;
    overflow: visible; 
}

@media (max-width: 1098px) {
    .card {
        flex: 1 1 calc(33% - 20px); 
    }

    .card-graph-container {
        width: calc(33% - 20px); 
    }

    .heading {
        font-size: 40px; 
    }

    .welcome {
        font-size: 22px; 
        }

    .title_animation {
        font-size: 22px; 
    }
}

@media (max-width: 802px) {
    .card {
        flex: 1 1 calc(100% - 20px); 
    }

    .card-graph-container {
        width: 100%; 
    }

    .heading {
        font-size: 30px; 
        letter-spacing: 3px; 
    }

    .welcome {
        font-size: 20px; 
    }

    .title_animation {
        font-size: 20px; 
    }

    .graph {
        margin-bottom: 20px; 
        padding: 10px; 
    }
}



@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33% - 20px); 
    }

    .card-graph-container {
        width: calc(33% - 20px); 
    }
}

@media (max-width: 992px) {
    .card {
        flex: 1 1 calc(50% - 20px); 
    }

    .card-graph-container {
        width: calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 20px); 
    }

    .card-graph-container {
        width: 100%; 
    }

    .graph {
        margin-bottom: 20px; 
        padding: 10px; 
    }
}


@media (max-width: 576px) {
    .heading {
        font-size: 35px; 
        letter-spacing: 1px;
    }

    .title_animation {
        font-size: 18px; 
    }

    .welcome {
        font-size: 18px; 
    }

    .graph {
        margin-bottom: 20px; 
        padding: 5px; 
    }
}


@media (min-width: 1024px) {
    .heading {
        font-size: 70px; 
    }
}


@media (max-width: 1024px) {
    .heading {
        font-size: 60px; 
        letter-spacing: 4px; 
    }

    .title_animation {
        font-size: 30px; 
    }
}