body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E0EAF6 !important;

}

.moving_title {
    font-size: 2rem;
    position: relative;
    background: linear-gradient(to right, #2C3E50, #5e87b0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: 2px;
    margin: 0 auto;
    color: white;
}

.col-md-2 {
    font-family: 'Georgia';
    font-weight: bolder;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}

.navbar {
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
    color: white;
    z-index: 1000;
}

.navbar-container {
    margin-left: -80px;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.content {
    margin-left: 200px;
    padding: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px;
}

.chart-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.card {
    background-color: #1E2A38 !important;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    color: white !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.card p {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}


/* Responsive design adjustments */
@media (max-width: 768px) {
    .moving_title {
        font-size: 1.5rem;
        text-align: center;
        margin: 10px auto;
    }

    .navbar {
        width: 100%;
        height: auto;
        position: static;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content {
        margin-left: 0;
        padding: 10px;
    }

    .chart-container {
        padding: 10px;
    }

    .chart-container img {
        height: auto;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .moving_title {
        font-size: 1.2rem;
        margin: 5px auto;
    }

    .card p {
        font-size: 1rem;
    }

    .navbar {
        padding: 5px;
    }
}
