body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container1 {
    width: 100%;
    /* margin: 20px auto; */
    background-color: #e0eaf6 ;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-calendar{
    margin-top: 100px !important;
    width: 80%;
    /* margin: 20px auto; */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
}

.current-date {
    background-color: #a3d4eb !important; 
    color: white; 
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
}


.moving_title {
    /* margin-bottom: 50px !important; */
    padding: 15px;
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(to right, #2C3E50, #5e87b0);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    text-align: center; 
    background-clip: text;
}

.search-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.search-box {
    flex: 1;
}

.search-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}

.search-box select, .search-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-button {
    text-align: center; 
    margin-top: 20px; 
}

#search-button {
    background-color: #4CAF50;
    color: white; 
    font-size: 16px; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

#search-button:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}

#search-button:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.6); 
}


.calendar-container {
    margin-top: 20px;
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: 14px;
    margin-bottom: 5px;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th, .calendar-table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
    color: #666;
}

.calendar-table th {
    background-color: #f7f7f7;
}

.week-header {
    background-color: #f7f7f7;
}

.search-box .highlighted {
    color: red; 
    background: none;
    padding: 5px;
}

.calendar-nav .highlighted {
    color: red; 
    background: none;
    padding: 5px;
    font-weight: bold;
}

.calendar-nav .highlighted.arrow-icon {
    font-size: 1.2em;
    color: black; 
    background: none; 
}

.calendar-nav .highlighted.arrow-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

