

img {
  width: 100%;
}

.profile-card {
  background-color: rgb(18, 40, 56);
  max-width: 600px;
  max-height: 1000px;
  border-radius: 1.5rem;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border: 4px solid #d7d4d4;
}

.profile-name {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: rgb(255, 200, 0);
}

.profile-title {
  font-size: 1rem;
  margin: 0;
  text-align: center;
}

.profile-title {
  border-bottom: 2px solid rgb(255, 191, 0);
}

.profile-description {
  font-size: 0.8rem;
  text-align: center;
  padding: 10px;
}

ul.social-media {
  padding: 0;
  text-align: center;
}

ul.social-media li.social-item {
  list-style-type: none;
  display: inline-block;
  color: yellowgreen;
  border-radius: 50%;
  margin: 0 10px;
}

ul.social-media li.social-item:hover,
.contact-details ul.contact-list li.contact-item:hover {
  cursor: pointer;
  border-bottom: 1px solid yellowgreen;
}

.fa-brands {
  font-size: 20px;
}
/* 
ul {
  padding: 0;
  text-align: center;
} */

ul.contact-list li.contact-item {
  list-style-type: none;
  line-height: 1.5rem;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 0.4rem;
}

@media only screen and (min-width: 900px) {
  .profile-card {
    max-width: 1500px;
    max-height: 350px;
      display: flex;
      border-radius: 140px 20px 20px 140px;
      align-items: center;
      padding: 20px;
  }
  .profile-card:hover {
      box-shadow: 0 0 32px #028ffb;
  }
  img {
      width: 250px;
      position: relative;
      bottom: 16px;
  }
  .profile-content {
      padding: 20px 40px 20px 0;
      margin: auto 0;
      max-width: 300px;
  }
  .profile-title {
      width: 180px;
  }
  .profile-name,
  .profile-title,
  ul.social-media {
      text-align: left;
  }
  .profile-description {
      text-align: justify;
      padding: 0;
  }
  .contact-details {
      margin: auto 0;
      padding: 10px;
      border-left: 4px solid yellowgreen;
  }
  .contact-details > ul.contact-list > li.contact-item {
      display: block;
      font-size: 1rem;
      text-align: left;
      padding: 10px 0;
  }
}
