{% extends "loginbase.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}


{% block css_link %}
    <link rel="stylesheet" href="{% static 'users/login.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %} 
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    {% if messages %}
      {% for message in messages %}

      <div class="col-md-4"><h3>{{ message }}</h3></div>
      {% endfor %}
    {% endif %}
  </div>
  
  <!-- Add this block to display error messages -->
  {% if error_message %}
  <div class="alert alert-danger" role="alert">
      {{ error_message }}
  </div>
  {% endif %}

  <div class="login-container">
    <form class="login-form" method="POST">
      {% csrf_token %}
      <h2 class="login-title">Login</h2>
      <div class="input-group">
          <input type="email" name="email" placeholder="Email" class="login-input" required>
          <span class="icon">📧</span>
      </div>
      <div class="input-group">
          <input type="password" name="password" placeholder="Password" class="login-input" required>
          <span class="icon">🔒</span>
      </div>
      <div class="login-options">
          <label><input type="checkbox" name="remember_me"> Remember me</label>
          <a href="{% url 'password_reset' %}" class="forgot-password">Forgot password?</a>
      </div>
      <button type="submit" class="login-button">Login</button>
      <p class="register-link">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
  </div>
</div>
{% endblock %}
{% block javascript %}{% endblock %}

    
