{% extends "loginbase.html" %}

{% load static %}


{% block css_link %}
<link rel="stylesheet" href="{% static 'users/profiledetail.css' %}">
{% endblock %}


{% block title %}profile{% endblock %}


{% block content %}

<div class="outerdiv">
<div class="heading">{{user_info|upper}}</div>

<div class = "profile-info">
<p><span>Emp ID : </span>{{user_info.emp_id}}</p>
<hr>
<p><span>DOB : </span>{{user_info.dob}}</p>
<hr>

<p><span>Branch : </span>{{user_info.branch}}</p>
<hr>

<p><span>Email : </span>{{user.email}}</p>
</div>

</div>
{% endblock %}
        
{% block javascript %}

{% endblock %}