body {
  /* background-color : #ffffff !important; */
  background-color: #e0eaf6 !important;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  /* justify-content: center; */
  /* align-items: center; */
}

.chart-container {
  margin-left: 100px;
  margin-top: 80px;
}


/* 1 */


.navbar {
  background-color: #1E2A38;
  position: fixed;
  height: 100vh;
  min-width: 250px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(81, 113, 145, 0.5);
  padding: 10px 20px;
  overflow-y: auto;
}

/*2*/
.navbar-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
}

.navbarNavDropdown {
  justify-content: flex-start;
}

/* 3 Navbar brand styles */
.navbar-brand img {
  height: 40px;
}

.nav-link img {
  height: 30px;
  filter: brightness(0) invert(1);
}

.profile1 {
  margin-top: 20px;
  margin-left: -160px;
  margin-bottom: 80px;
  width: 150px;
  letter-spacing: 4px;
  position: absolute;
}

.navbar.collapsed {
  transform: translateX(-100%);
}

.nav-item {
  position: relative;
  margin-bottom: 25px;
   margin-left: -40px;
  width: 100%;
  height: 100%;
   justify-content: flex-start;
}  


/*4*/
.nav-links {
  /* margin-left: -100px; */
  /* margin-right: 40px; */
  margin-top: 150px;
  color: #ffffff;
  padding: 20 3;

  /* font-weight: bold; */
  font-size: 18px;
  line-height: 2.5;
  list-style-type: none; /* Remove bullets */
  z-index: 1000;
}

.spacing {
  letter-spacing: 3px;
  margin-left: 5px;
  line-height: 1.9;
  height: auto;
}

.nav-links li {
margin-right: -10px;
line-height: 1.5;
z-index: 1000;

}

.nav-links a {    
  text-decoration: none;
  margin-top: 20px;
  color: #ffffff;
  padding: 10px;
   display: block;
  list-style: none;
   display:block;
  position: relative; 
  margin-left: 13px;
 }  

 .nav-links:hover {
  color: #74e0f3;
 }


/*6*/


 

/* 8 */
/*menu pura box hai */
.nav-item .dropdown-menu {
  position:absolute;
  left: 100%; 
  top:20px;
   margin-right: 80px; 
  display: none; /* Hide dropdown initially */
  white-space: nowrap; /* Prevent text from wrapping */
   overflow: visible;
  letter-spacing: 3px;
  visibility: hidden;
  width: 235px;
 }



.dropdown-menu  .dropdown-item {
  display: block;
  color: rgb(255, 254, 254);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none; 
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(to right, rgba(27, 42, 53, 0.5), rgba(63, 94, 128, 0.5), rgba(27, 42, 53, 0.5));
  font-size: 18px;
  width: 220px;
  margin-left: 5px;
  /* margin-top: 1px; */
}

.nav-item:hover .dropdown-menu {    
  /* position: absolute; */
  display: block;
  left: 100%; 
  top:20px;
  opacity: 1;
  /* white-space: nowrap ; */
  letter-spacing: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
   transition: opacity 0.5s ease, visibility 0s ease 0s; 
    overflow: visible;
    z-index: 1001;

}

.nav-item:hover .dropdown-menu,
.nav-item .dropdown-menu:hover {

  white-space: nowrap;
  left: 100%;
  top: 20px;
  position: absolute;
  display: block; /* Show dropdown */
  visibility: visible; /* Make it visible */
  opacity: 1; /* Make it fully opaque */
  transition: opacity 0.5s ease, visibility 0s ease 0s; /* Adjusted transition for smooth appearance */
  color: #74e0f3;
 
}

.dropdown-menu:hover .dropdown-item {  
  /* color:  rgb(107, 228, 246); */
  /* background-color: rgb(145, 242, 203); */
  background-color: rgba(255, 255, 255, 0.5); /* 50% opacity */

}

 
#password-reset {
  text-decoration: none;
}

#password-reset:hover {
  text-decoration: underline;
}

#create-account {
  text-decoration: none;
}

#create-account:hover {
  text-decoration: underline;
}


.offcanvas {
  width: 300px;
  height: auto;
}


.navbar-toggler {
  border: none;
  background: transparent;
}


.btn-dark:hover {
  background-color: #555;
}

.offcanvas-title {
  font-size: 35px;
  letter-spacing: 2px;
}

.right_profile {
  color: #3291ba;
  text-decoration: solid;
  display: inline-block;
  font-size: 25px;
  /* font-weight: bold; */
}


.header {
  font-size: 24px;
  padding: 20px;
}

@media (max-width: 970px) {
  .navbar {
    width: 90%;
    height: 0%;
    position: relative;
    background: transparent;
    box-shadow: none;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }

  .profile1 {
    /* margin-top: 30px; */
    /* margin-left: 28px; */
    /* margin-right: 60px; */
    margin-top: 20px;
    margin-left: -90px;
    margin-bottom: 80px;
    margin-right: 70px;
    width: 150px;
    letter-spacing: 4px;
    /* position: fixed; */
  }

  .hamburger {
    margin-left: 65px;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 90px;
  }

  .nav-item .dropdown-menu {
    position: static;
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  .nav-item.active .dropdown-menu {
    display: block;
    position: fixed;
  }

  .dropdown-menu.show {
    display: block;
  }

}


@media (max-width: 768px) {
  .navbar-container {
    max-height: 300px;
  }

  .profile1 {
    /* margin-top: 30px; */
    margin-top: 20px;
    /* margin-left: 28px; */
    /* margin-right: 60px; */
    margin-left: -80px;
    margin-bottom: 80px;
    width: 150px;
    letter-spacing: 4px;
    position: fixed;
  }
}

@media (min-width: 769px) {
  .navbar-container {
    max-height: none;
  }
}