{% extends "adminbase.html" %}
{% load static %}
{% block title %}Calling agent dashboard{% endblock %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/admin_analysis.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="graph-container">
        <h2>Number of Minings vs. Days</h2>
        <div class="graph">
            {{ graph_html|safe }}
        </div>
    </div>
    <div class="graph-container">
        <h2>Date vs Number of Hours Worked</h2>
        <div class="time-graph">
            {{ time_graph|safe }}
        </div>
    </div>
</div>
{% endblock %}