{% extends "adminbase1.html" %}
{% load static %}
{% block title %}Calling agent dashboard{% endblock %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/adminActive.css' %}">
{% endblock %}

{% block content %}



<div class="device-content">
    <h1 class="heading">Passive Device</h1>
    <table class="table">
        
        <thead>
            <tr>
                <th>System ID</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Uptime</th>
                <th>Downtime</th>
                <th>IP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="System ID">{{ id2 }}</td>
                <td data-label="Employee ID">{{ eid2 }}</td>
                <td data-label="Employee Name">{{ ename2 }}</td>
                <td data-label="Uptime">{{ uptime2 }}</td>
                <td data-label="Downtime">{{ downtime2 }}</td>
                <td data-label="IP">{{ ip2 }}</td>
            </tr>
            <tr>
                <td data-label="System ID">{{ id3 }}</td>
                <td data-label="Employee ID">{{ eid3 }}</td>
                <td data-label="Employee Name">{{ ename3 }}</td>
                <td data-label="Uptime">{{ uptime3 }}</td>
                <td data-label="Downtime">{{ downtime3 }}</td>
                <td data-label="IP">{{ ip3 }}</td>
            </tr>
        </tbody>
</div>
{% endblock %}
 

