{% extends "agentbase.html" %}
{% load static %}
{% block title %}Calling agent dashboard{% endblock %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/agent.css' %}">
{% endblock %}

{% block content %}
<div class="main_container">

  <nav class="navbar-horizontal ">
    <div class="small-nav">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>

    <button style="display: inline;" type="button" class="button profile-button">
      <img src="https://i.ibb.co/VTZ5MXm/profileicon.png"
        style="width:60px; height: 60px; margin-left: -7px; margin-top: -4px;" alt="">
    </button>

  </nav>

  <div class="filter-search-container" >

    <button id="filter-btn" class="filter-button"  onclick="toggleFilter()">Filter</button>

  </div>

  <div class="filter-container">
    <div id="filterForm" class="filter-form">

      <form method="GET" action="{% url 'lead_data' %}">
        <div class="inside-filter-container">
            <label for="time_frame">Select Time Frame:</label>
            <select name="time_frame" id="time_frame">
                <option value="" disabled selected hidden>Select Time Frame</option>
                <option value="today" {% if time_frame == "today" %}selected{% endif %}>Today</option>
                <option value="weekly" {% if time_frame == "weekly" %}selected{% endif %}>Weekly</option>
                <option value="monthly" {% if time_frame == "monthly" %}selected{% endif %}>Monthly</option>
                <option value="quarterly" {% if time_frame == "quarterly" %}selected{% endif %}>Quarterly</option>
                <option value="yearly" {% if time_frame == "yearly" %}selected{% endif %}>Yearly</option>
            </select>
        </div>
    </form>
    

      <div class="state-filter-container">

        <label for="state-filter">State:</label>

        <select name="state" id="state-filter">
          <option value="all" disabled selected hidden>Select State</option>
          <option value="AP">Andhra Pradesh</option>
          <option value="AR">Arunachal Pradesh</option>
          <option value="AS">Assam</option>
          <option value="BR">Bihar</option>
          <option value="CG">Chhattisgarh</option>
          <option value="GA">Goa</option>
          <option value="GJ">Gujarat</option>
          <option value="HR">Haryana</option>
          <option value="HP">Himachal Pradesh</option>
          <option value="JH">Jharkhand</option>
          <option value="KA">Karnataka</option>
          <option value="KL">Kerala</option>
          <option value="MP">Madhya Pradesh</option>
          <option value="MH">Maharashtra</option>
          <option value="MN">Manipur</option>
          <option value="ML">Meghalaya</option>
          <option value="MZ">Mizoram</option>
          <option value="NL">Nagaland</option>
          <option value="OD">Odisha</option>
          <option value="PB">Punjab</option>
          <option value="SK">Sikkim</option>
          <option value="TN">Tamil Nadu</option>
          <option value="TG">Telangana</option>
          <option value="TR">Tripura</option>
          <option value="UP">Uttar Pradesh</option>
          <option value="UT">Uttarakhand</option>
          <option value="WB">West Bengal</option>
        </select>

      </div>


      <div class="zone-filter-container">
        <label for="zone-filter">Zone:</label>
        <select name="zone" id="zone-filter">
          <option value="all" disabled selected hidden>Select Zone</option>
          <option value="North" {% if zone == "North" %}selected{% endif %}>North</option>
          <option value="South" {% if zone == "South" %}selected{% endif %}>South</option>
          <option value="East" {% if zone == "East" %}selected{% endif %}>East</option>
          <option value="West" {% if zone == "West" %}selected{% endif %}>West</option>
      </select>
      
      </div>

      <div class="form-actions">
        <button type="submit" class="button4">Apply Filter</button>
        <button type="button" class="button2" onclick="clearFilters()">Clear</button>
      </div>

    </div>
  </div>


  <div class="graphBox">

    <div class="graph">
      {{ daily|safe }}
    </div>
    <div class="graph">
      {{ monthly| safe }}
    </div>
    <div class="graph">
      {{ quarterly|safe }}
    </div>
    <div class="graph">
      {{ yearlyl|safe }}
    </div>

  </div>

  <div class="location-container d-flex">

    <div class="button-location">
      <button id="locationButton" class="button5">Submit Location</button>
      <button class="button5">Testing</button>
    </div>

    <div class="lat">
      Latitude: <span id="latitude">{{lat}}</span>, Longitude: <span id="longitude">{{long}}</span>
    </div>

  </div>



</div>


<div class="offcanvas offcanvas-end" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="" id="offcanvasExampleLabel"><b>Profile</b></h5>
  </div>


  <div class="offcanvas-body" id="offcanvasExample">
    <div class="row p-2">
      <a href="{% url 'detail_profile' %}" class=" right_profile">View Profile</a>
    </div>
    <div class="row p-2">
      <a href="#" class=" right_profile">Edit Profile</a>
    </div>
    <div class=" row p-2">
      <a href="#" class=" right_profile">Employees</a>
    </div>
    <div class=" row p-2">
      <a href="#" class=" right_profile">Community</a>
    </div>
    <div class=" row p-2">
      <a href="#" class=" right_profile">About</a>
    </div>

    <div class=" row p-2">
      <a href="{% url 'logout'%}" class="right_profile ">Logout</a>
    </div>
  </div>
</div>


<script>

  function toggleFilter() {
    var filterForm = document.getElementById("filterForm");
    filterForm.style.display = (filterForm.style.display === "none" || filterForm.style.display === "") ? "grid" : "none";
  }

  function clearForm() {
    document.getElementById("anyPhone").value = "";
    document.getElementById("anyEmail").value = "";
    document.getElementById("anyAddress").value = "";
    document.getElementById("state").value = "";
    document.getElementById("postalCode").value = "";
    document.getElementById("country").value = "";
    document.getElementById("firstName").value = "";
    document.getElementById("lastName").value = "";
    document.getElementById("assistant").value = "";
    document.getElementById("doNotCall").checked = false;
    document.getElementById("assignedTo").value = "";
  }


</script>

<script>

  function clearFilters() {
    document.getElementById('time_frame').selectedIndex = 0;
    document.getElementById('state-filter').selectedIndex = 0;
    document.getElementById('zone-filter').selectedIndex = 0;
  }

</script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const profileButton = document.querySelector('.profile-button');
    const offcanvas = document.getElementById('offcanvasExample');

    // Toggle offcanvas visibility on profile button click
    profileButton.addEventListener('click', function (e) {
      e.stopPropagation(); // Prevent event from bubbling
      offcanvas.classList.toggle('show'); // Toggle the "show" class to open/close offcanvas
    });

    // Close the offcanvas when clicking outside of it
    document.addEventListener('click', function (e) {
      if (!offcanvas.contains(e.target) && !profileButton.contains(e.target)) {
        offcanvas.classList.remove('show'); // Close offcanvas if clicking outside
      }
    });

    // Ensure the close button inside the offcanvas works
    document.querySelector('.btn-close').addEventListener('click', function () {
      offcanvas.classList.remove('show'); // Close offcanvas
    });



    // Location submission

  });


</script>


<script>
  window.onload = function () {
    const locationButton = document.getElementById('locationButton');

    locationButton.addEventListener('click', function () {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
          const latitude = position.coords.latitude;
          const longitude = position.coords.longitude;

          fetch("{% url 'maps' %}", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}"
            },
            body: JSON.stringify({
              latitude: latitude,
              longitude: longitude
            })
          })
            .then(response => response.json())
            .then(data => {
              location.reload(); // Refresh the page after handling the response
            })
            .catch(error => {
              console.error("Error:", error);
            });
        }, function (error) {
          console.error("Error getting position:", error);
        });
      } else {
        console.error("Geolocation is not supported by this browser.");
      }
    });
  };
</script>

{% endblock %}

{% block javascript %}{% endblock %}