{% extends "agentbase.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/createTask.css' %}">
{% endblock %}

{% block title %}New Document{% endblock %}

{% block content %}

<div class="container-fluid">
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
    
        <div class="row mt-2 mb-2">
            <div class="col-12 text-center moving_title" style="color: white;">
                Create New Document
            </div>
        </div>
    
        <hr>

        <div class="row mb-2">
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="button1 mx-2">Submit</button>
                <button type="button" class="button2">Cancel</button>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 pt-5 pb-5 px-4" style="color: rgb(15, 14, 14);">
                
                <div class="form-group mb-5">
                    {% if form.file_name %}
                        {{ form.file_name|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.document_name %}
                        {{ form.document_name|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.document_type %}
                        {{ form.document_type|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.publish_date %}
                        {{ form.publish_date|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.category %}
                        {{ form.category|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.description %}
                        {{ form.description|as_crispy_field }}
                    {% endif %}
                </div>
                
                <div class="form-group mb-5">
                    {% if form.status %}
                        {{ form.status|as_crispy_field }}
                    {% endif %}
                </div>

            </div>

            <div class="col-md-6 pt-5 px-4" style="color:rgb(15, 14, 14); border-left: 1px solid rgb(15, 14, 14)">

                <div class="form-group mb-5">
                    {% if form.revision %}
                        {{ form.revision|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.template %}
                        {{ form.template|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.expiration_date %}
                        {{ form.expiration_date|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.subcategory %}
                        {{ form.subcategory|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.related_document %}
                        {{ form.related_document|as_crispy_field }}
                    {% endif %}
                </div>

                <div class="form-group mb-5">
                    {% if form.assigned_to %}
                        {{ form.assigned_to|as_crispy_field }}
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascript %}{% endblock %}
