{% extends "innerbase.html" %}

{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/data.css' %}">
{% endblock %}


{% block title %}Data{% endblock  %}


{% block content %}


<!-- <h1>DATA SHOWCASE</h1> -->

<form method="GET" action="{% url 'data' %}">
    <label for="time_frame">Select Time Frame:</label>
    <select name="time_frame" id="time_frame" onchange="this.form.submit()">
        <option value="today" {% if time_frame == "today" %}selected{% endif %}>Today</option>
        <option value="weekly" {% if time_frame == "weekly" %}selected{% endif %}>Weekly</option>
        <option value="monthly" {% if time_frame == "monthly" %}selected{% endif %}>Monthly</option>
        <option value="quarterly" {% if time_frame == "quarterly" %}selected{% endif %}>Quarterly</option>
        <option value="yearly" {% if time_frame == "yearly" %}selected{% endif %}>Yearly</option>
    </select>
</form>


{%comment%}
{% include "include/dash.html" %}
{%endcomment%}

<section class = "main_container">

{% for data in data_list %}

<a href = "{% url "detaildata" data %}">
<div class = "container">
<h2>{{data}}</h2>   
{% if data.customer_first_name %}
<!-- <h1>Hello</h1> -->
<span><strong>Client</strong> : {{data.customer_first_name}} {{data.customer_last_name}}</span>
<span><strong>Email</strong> : {{data.customer_email}}</span>
{% elif data.first_name %}
<span><strong>Client</strong> : {{ data.first_name }} {{ data.last_name }}</span>
<span><strong>Email</strong> : {{ data.email_id }}</span>
{% elif data.opportunity_name %}
<span><strong>Name</strong> : {{ data.opportunity_name }}</span>
<span><strong>Probability</strong> : {{ data.probability }}</span>
<span><strong>assigned_to</strong> : {{ data.assigned_to }}</span>
{% endif %}

</div>
</a>

{% endfor %}
</section>

{% endblock %}
      

{% block javascript %}{% endblock %}