{% extends "innerbase1.html" %}

{% load static %}
{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/temp.css' %}">
{% endblock %}

{% block count_down %}{% endblock %}

{% block title %}Data{% endblock %}

{% block content %}




<section class="main_container">

    <div class="filter-search-container" style="display: flex; align-items: center; gap: 10px;">
        
        
        <form class="d-flex" style="flex-grow: 1;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 200px;">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        
        <button id="filter-btn" class="filter-button">Filter</button>

    </div>
    
    <div id="filter-section" class="filter-section" style="display: none;">
    
        <form method="GET" action="{% url 'data' %}">
            <div class="inside-filter-container">
                <label for="time_frame">Select Time Frame:</label>
                <select name="time_frame" id="time_frame" onchange="this.form.submit()"> 
                    <option value="all" disabled selected hidden>Select Time Frame</option>
                    <option value="today" {% if time_frame == "today" %}selected{% endif %}>Today</option>
                    <option value="weekly" {% if time_frame == "weekly" %}selected{% endif %}>Weekly</option>
                    <option value="monthly" {% if time_frame == "monthly" %}selected{% endif %}>Monthly</option>
                    <option value="quarterly" {% if time_frame == "quarterly" %}selected{% endif %}>Quarterly</option>
                    <option value="yearly" {% if time_frame == "yearly" %}selected{% endif %}>Yearly</option>
                </select>
            </div>
    
            <div class="state-filter-container">
                <label for="state-filter">State:</label>
                <select name="state" id="state-filter">
                    <option value="all" disabled selected hidden>Select State</option>
                    <option value="AP">Andhra Pradesh</option>
                    <option value="AR">Arunachal Pradesh</option>
                    <option value="AS">Assam</option>
                    <option value="BR">Bihar</option>
                    <option value="CG">Chhattisgarh</option>
                    <option value="GA">Goa</option>
                    <option value="GJ">Gujarat</option>
                    <option value="HR">Haryana</option>
                    <option value="HP">Himachal Pradesh</option>
                    <option value="JH">Jharkhand</option>
                    <option value="KA">Karnataka</option>
                    <option value="KL">Kerala</option>
                    <option value="MP">Madhya Pradesh</option>
                    <option value="MH">Maharashtra</option>
                    <option value="MN">Manipur</option>
                    <option value="ML">Meghalaya</option>
                    <option value="MZ">Mizoram</option>
                    <option value="NL">Nagaland</option>
                    <option value="OD">Odisha</option>
                    <option value="PB">Punjab</option>
                    <option value="SK">Sikkim</option>
                    <option value="TN">Tamil Nadu</option>
                    <option value="TG">Telangana</option>
                    <option value="TR">Tripura</option>
                    <option value="UP">Uttar Pradesh</option>
                    <option value="UT">Uttarakhand</option>
                    <option value="WB">West Bengal</option>
                </select>
            </div>
    
            <div class="zone-filter-container">
                <label for="zone-filter">Zone:</label>
                <select name="zone" id="zone-filter">
                    <option value="all" disabled selected hidden>Select Zone</option>
                    <option value="North" {% if zone == "North" %}selected{% endif %}>North</option>
                    <option value="South" {% if zone == "South" %}selected{% endif %}>South</option>
                    <option value="East" {% if zone == "East" %}selected{% endif %}>East</option>
                    <option value="West" {% if zone == "West" %}selected{% endif %}>West</option>
                </select>
            </div>
    
            <div class="buttons">
                <button type="submit" class="button">Apply Filter</button>
                <button type="button" class="button" onclick="clearFilters()">Clear</button>
            </div>
        </form>
    </div>

<table>
    <thead>
        <tr>
            <th>Organsation Name</th>
            <th>Client Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>City</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
    {% for data in data_list %}
        <tr>
            <td><a href="{% url 'detaildata' data %}">{{ data }}</a></td>
            
            {% if data.customer_first_name %}
                <td>{{ data.customer_first_name }} {{ data.customer_last_name }}</td>
                <td>{{ data.customer_email }}</td>
                <td>{{data.customer_mobile_number}}</td>
                <td>{{data.city}}</td>
                <td>{{data.state}}</td>
            {% elif data.first_name %}
                <td>{{ data.first_name }} {{ data.last_name }}</td>
                <td>{{ data.email_id }}</td>
                <td>-</td>
                <td>-</td>
            {% elif data.opportunity_name %}
                <td>{{ data.opportunity_name }}</td>
                <td>-</td>
                <td>{{ data.probability }}</td>
                <td>{{ data.assigned_to }}</td>
            {% elif data.title %}
                <td>{{ data.title }}</td>
                <td>-</td>
                <td>{{ data.valid_until }}</td>
                <td>{{ data.approval_status }}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</section>

<script>
    const filterBtn = document.getElementById('filter-btn');
const filterSection = document.getElementById('filter-section');


filterBtn.onclick = function() {
    if (filterSection.style.display === 'none' || filterSection.style.display === '') {
        filterSection.style.display = 'block';
    } else {
        filterSection.style.display = 'none';
    }
}


function clearFilters() {
    document.getElementById('time_frame').selectedIndex = 0;
    document.getElementById('state-filter').selectedIndex = 0;
    document.getElementById('zone-filter').selectedIndex = 0;
}
  </script>



{% endblock %}

{% block javascript %}{% endblock %}

