{% extends "innerbase.html" %}

{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/detail.css' %}"> 
{% endblock %}

{% comment %} {% block title %}Detail{% endblock %} {% endcomment %}

{% block content %}
{% comment %} <h1>{{ detail.organisation_name | upper}}</h1> {% endcomment %}

{% comment %} {% include "include/dash.html" %} {% endcomment %}

<section>
    <h2>Client Details</h2>
    <table class="client-details-table">
        <tr>
            <td><strong>Name:</strong></td>
            <td>{{ detail.customer_first_name }} {{ detail.clinet_last_name }}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ detail.customer_email }}</td>
        </tr>
        <tr>
            <td><strong>Contact No.:</strong></td>
            <td>{{ detail.customer_contact_number }}</td>
        </tr>
        <tr>
            <td><strong>Mobile No.:</strong></td>
            <td>{{ detail.customer_mobile_number }}</td>
        </tr>
        <tr>
            <td><strong>Address:</strong></td>
            <td>{{ detail.customer_address }}</td>
        </tr>
        <tr>
            <td><strong>Company Revenue:</strong></td>
            <td>{{ detail.company_revenue }}</td>
        </tr>
        <tr>
            <td><strong>Company Employee Size:</strong></td>
            <td>{{ detail.company_emp_size }}</td>
        </tr>
        <tr>
            <td><strong>Competition of AT:</strong></td>
            <td>{{ detail.competition_of_AT }}</td>
        </tr>
        <tr>
            <td><strong>Stock Market Registered:</strong></td>
            <td>{{ detail.stock_market_registered }}</td>
        </tr>
        <tr>
            <td><strong>IT Spending Budget:</strong></td>
            <td>{{ detail.IT_spending_budget }}</td>
        </tr>
        <tr>
            <td><strong>Source of Data:</strong></td>
            <td>{{ detail.source_of_data_mining }}</td>
        </tr>
        <tr>
            <td><strong>Influencer:</strong></td>
            <td>{{ detail.influncer }}</td>
        </tr>
        <tr>
            <td><strong>Decision Maker:</strong></td>
            <td>{{ detail.desition_maker }}</td>
        </tr>
        <tr>
            <td><strong>Assigned To:</strong></td>
            <td>{{ detail.assigned_to }}</td>
        </tr>
    </table>
</section>

{% endblock %}

{% block javascript %}{% endblock %}
