<!-- {% extends "adminbase.html" %}
{% load static %} 
{% block title %}Calling agent dashboard{% endblock %} 
{% block css_link %} 
<link rel="stylesheet" href="{% static 'sales_tracker/maps.css' %}"> 
{% endblock %} 

{% block content %}
<!-- <h1>{{lat}}</h1> -->
<!-- <h1>{{long}}</h1> -->
<script>
    let map

    function initMap(){
        map = new google.maps.Map(document.getElementById("map"),{
            center:{lat:-34.379 , lng: 150.644},
            zoom: 8,
        }
    );
    }

    window.initMap = initMap
</script>
<!-- <h1>Hello this is maps</h1>  -->
<div class="mapholder">
    <div id="map">
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC5IR5-5KuTsr2zrfUU04v5MBT9muhptI&callback=initMap&v=weekly"
        defer
        ></script>
    </div>
</div>
<a href="{% url 'maps' %}"> Go to the map </a>
{% endblock %}   -->