
{% extends "adminbase.html" %}
{% load static %} 
{% block title %}Calling agent dashboard{% endblock %} 
{% block css_link %} 
<link rel="stylesheet" href="{% static 'sales_tracker/maps.css' %}"> 
{% endblock %} 

{% block content %}

<div class="mapholder">
    <h1>{{lat}} , {{long}}</h1>
    <div id="map">
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC5IR5-5KuTsr2zrfUU04v5MBT9muhptI&callback=initMap&v=weekly"
        defer
        ></script>
    </div>
</div>
<a href="{% url 'maps' %}"> Go to the map </a>

 
<script>
    let map;

    function initMap() {
     
        const latitude = {{ lat }};
        const longitude = {{ long }};

        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: latitude, lng: longitude },
            zoom: 8,
        });

        new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            title: "User  Location",
        });
    }

    window.initMap = initMap;
</script>

{% endblock %}
