{% extends "innerbase_copy.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'sales_tracker/targetsList.css' %}">
{% endblock %}

{% block title %}Targets List{% endblock %}

{% block content %}
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}

        <div class="row mt-2 mb-2">
            <div class="col-12 text-center moving_title" style="color: white;">
                Create Targets-List
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="button1 mx-2">Submit</button>
                <button type="button" class="button2">Cancel</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 pt-5 pb-5 px-4" style="color: rgb(15, 14, 14);">

                <div class="form-group mb-5">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group mb-5">
                    {{ form.total_entries|as_crispy_field }}
                </div>
                <div class="form-group mb-5">
                    {{ form.type|as_crispy_field }}
                </div>
            </div>

            <div class="col-md-6 pt-5 pb-5 px-4" style="border-left: 1px solid rgb(15, 14, 14);">
                <div class="form-group mb-5">
                    {{ form.domain_name|as_crispy_field }}
                </div>
                <div class="form-group mb-5">
                    {{ form.description|as_crispy_field }}
                </div>
                
            </div>

        </div>


    </form>
</div>
{% endblock %}