{% extends "agentbase.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
 
{% block css_link %}

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <style>
       html, body {
       height: 100%;
       margin: 0; /* Remove default margin */
       }
       .wrapper {
       height: 100%; /* Ensure wrapper takes full height */
       }
       .bg-gradient {
           background: linear-gradient(to right, #a2e9da, #69d4c6);
       }
       .bg-gradient1 {
           background: linear-gradient(to right, #cee0e0, #e6dfd4);
       }
       .container-fluid {
    z-index: -1000 !important;
}
   </style>
{% endblock %}

{% block title %}Scheduled Calls{% endblock %}
{% block content %} 
    <div class="wrapper  ">
         <div class="container-fluid  ">
             <div class="container  bg-gradient">
        <h1 class="text-center mb-4">Scheduled Calls</h1>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Frequency</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Subject</th>
                    <th>Related To</th>
                    <th>Assigned To</th>
                    <th>Notification</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for call in scheduled_calls %}
                <tr>
                    <td>{{ call.start_date }}</td>
                    <td>{{ call.end_date }}</td>
                    <td>{{ call.duration }}</td>
                    <td>{{ call.frequency }}</td>
                    <td>{{ call.start_time }}</td>
                    <td>{{ call.end_time }}</td>
                    <td>{{ call.subject }}</td>
                    <td>{{ call.related_to }}</td>
                    <td>{{ call.assigned_to }}</td>
                    <td>{{ call.notification }}</td>
                    <td>{{ call.contact }}</td>


                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="text-center">No scheduled calls found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
    </div>
{% endblock %}