<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduled Calls</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html, body {
        height: 100%;
        margin: 0; /* Remove default margin */
        }
        .wrapper {
        height: 100%; /* Ensure wrapper takes full height */
        }
        .bg-gradient {
            background: linear-gradient(to right, #a2e9da, #69d4c6);
        }
        .bg-gradient1 {
            background: linear-gradient(to right, #2e2d2d, #e6dfd4);
        }
    </style>
</head>
<body>
    <div class="wrapper bg-gradient1 ">
         <div class="container-fluid   ">
             <div class="container  bg-gradient">
        <h1 class="text-center mb-4">Scheduled Meetings</h1>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Duration</th>
                    <th>Frequency</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Subject</th>
                    <th>Related To</th>
                    <th>Assigned To</th>
                    <th>Notification</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in scheduled_meetings %}
                <tr>
                    <td>{{ meeting.start_date }}</td>
                    <td>{{ meeting.end_date }}</td>
                    <td>{{ meeting.duration }}</td>
                    <td>{{ meeting.frequency }}</td>
                    <td>{{ meeting.start_time }}</td>
                    <td>{{ meeting.end_time }}</td>
                    <td>{{ meeting.subject }}</td>
                    <td>{{ meeting.related_to }}</td>
                    <td>{{ meeting.assigned_to }}</td>
                    <td>{{ meeting.notification }}</td>
                    <td>{{ meeting.contact }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11" class="text-center">No scheduled Meeting found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
    </div>
 </body>
</html>